.browse-page {
    .hero {
        .content {
            max-width: 90rem;
            .title {
                font-size: 2.7em;
            }
            .subtitle {
                font-size: 1em;
                line-height: 1.5;
                margin-bottom: 1.5em;
            }
            .cta {
                cursor: pointer;
                background: $white-color;
                color: $black-color;
                width: 20rem;
                text-align: center;
                padding: 1.5rem 3rem;
                font-weight: bold;
                &:hover {
                    background: $main-color;
                    color: $white-color;
                }
            }
        }
    }
    .categories-show {
        margin-bottom: 10vh;
    }
}
@include responsive($break-point-md) {
    .browse-page {
        .hero {
            .content {
                .title {
                    font-size: 3em;
                }
                .subtitle {
                    font-size: 1.2em;
                    margin-bottom: 2em;
                }
                .cta {
                    width: 30rem;
                    font-size: 1.2em;
                }
            }
        }
    }
}
@include responsive($break-point-xs) {
    .browse-page {
        .hero {
            .content {
                font-size: 1.5rem;
                .cta {
                    width: 20rem;
                }
            }
        }
    }
}
