.sign-in-page {
    background: url("/images/fate.jpg") no-repeat;
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    &__content {
        flex-grow: 1;
        font-size: 2rem;
        max-width: 60rem;
        background: rgba($color: #000, $alpha: 0.6);
        border-radius: 1rem;
        padding: 5vh 10vh;
        .sign-in-form {
            hr {
                margin: 1.5rem 0;
            }
            &__head {
                font-size: 2.5em;
                font-weight: bold;
                margin-bottom: 5rem;
            }
            .field {
                margin-bottom: 3rem;
                input {
                    color: $white-color;
                    background: #333333;
                    padding-top: 2rem;
                    padding-bottom: 2rem;
                }
            }
            .btn-submit {
                all: unset;
                cursor: pointer;
                width: 100%;
                font-size: 1.2em;
                background: $main-color;
                text-align: center;
                padding: 1.5rem 0;
                margin-bottom: 1rem;
            }
            &__foot {
                font-size: 0.8em;
                .sign-up-cta {
                    .link {
                        cursor: pointer;
                        color: rgb(0, 204, 255);
                        text-decoration: underline;
                    }
                }
                .auth {
                    display: flex;
                    .btn-icon {
                        flex-grow: 1;
                        @include flex();
                        cursor: pointer;
                        font-size: 1.2em;
                        padding: 1rem 1.5rem;
                        margin: 1.5rem 1rem;
                        border-radius: 0.5rem;
                        .icon {
                            width: 1.5em;
                        }
                    }
                    .btn-facebook {
                        background: $facebook-color;
                    }
                    .btn-google {
                        background: $google-color;
                        color: $black-color;
                    }
                    .btn-github {
                        background: $github-color;
                    }
                }
            }
        }
    }
}
@include responsive($break-point-xs) {
    .sign-in-page {
        &__content {
            font-size: 2rem;
            background: none;
            border-radius: 0;
            padding: 5vw;
            .sign-in-form {
                &__head {
                    text-align: center;
                    margin-bottom: 3rem;
                }
                .field {
                    margin-bottom: 2rem;
                }
                &__foot {
                    font-size: 1em;
                    .auth {
                        .btn-icon {
                            .icon {
                                width: 1em;
                            }
                        }
                    }
                }
            }
        }
    }
}
