.card {
    cursor: pointer;
    position: relative;
    font-size: 2rem;
    max-width: 30rem;
    overflow: hidden;
    &:hover {
        .overlay {
            display: block;
        }
        .title {
            transform: translateY(0);
            opacity: 1;
        }
    }
    .overlay {
        display: none;
        z-index: $normal-layer;
        background: rgba($color: #000000, $alpha: 0.5);
    }
    .title {
        position: absolute;
        transition: all 200ms ease;
        transform: translateY(100%);
        opacity: 0;
        left: 2rem;
        bottom: 2rem;
        font-weight: bold;
        font-size: 1.2em;
        z-index: $normal-layer + 1;
    }
}
