.category-show {
    padding: 0 5%;
    font-size: 2rem;
    margin-top: 10vh;
    h3.title {
        font-size: 2.5em;
        font-weight: bold;
        margin-bottom: 1em;
    }
    .slide {
        .splide__pagination {
            display: none;
        }
        .splide__arrow {
            background: $main-color;
            opacity: 1;
            border-radius: 0;
            @include size(3em);
            svg {
                fill: white;
            }
            &--next {
                right: 0;
                transform: translate(50%, -50%);
            }
            &--prev {
                left: 0;
                transform: translate(-50%, -50%);
            }
        }
        .card {
            max-width: unset;
        }
        .no-result {
            width: 100%;
            font-size: 1.2em;
            color: $main-color;
            text-align: center;
        }
    }
}
@include responsive($break-point-sm) {
    .category-show {
        font-size: 1.5rem;
        margin-top: 5vh;
        .slide {
            .splide__arrow {
                display: none;
            }
        }
    }
}
