header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    @include flex(space-between, center);
    padding: 2rem 5rem;
    .logo {
        width: 5rem;
    }
    .btn {
        background: $main-color;
        text-transform: capitalize;
        font-weight: 600;
        padding: 1rem 2rem;
        border-radius: 0.3rem;
    }
}
@include responsive($break-point-xs) {
    header {
        padding: 2rem 3rem;
    }
}
