.hero {
    position: relative;
    height: 80vh;
    background: url("/images/fate.jpg") no-repeat;
    background-position: top center;
    background-size: cover;
    @include flex();
    text-align: center;
    font-size: 2rem;
    &__content {
        max-width: 75rem;
        .title {
            font-size: 3em;
            font-weight: bold;
            margin-bottom: 2rem;
        }
        .subtitle {
            font-size: 1.2em;
            margin-bottom: 5rem;
        }
    }
    header {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }
}
@include responsive($break-point-xs) {
    .hero {
        &__content {
            .title {
                font-size: 1.8em;
                font-weight: bold;
                margin-bottom: 2rem;
            }
            .subtitle {
                margin-bottom: 3rem;
            }
        }
    }
}
