.hero {
    position: relative;
    height: 80vh;
    @include flex();
    font-size: 2rem;
    text-align: center;
    &[data-content-align="start"] {
        text-align: left;
        padding: 0 5%;
        justify-content: flex-start;
    }
    .content {
        max-width: 75rem;
        .title {
            font-size: 3em;
            font-weight: bold;
            margin-bottom: 2rem;
        }
        .subtitle {
            font-size: 1.2em;
            margin-bottom: 5rem;
        }
    }
}
@include responsive($break-point-xs) {
    .hero {
        .content {
            .title {
                font-size: 1.8em;
                font-weight: bold;
                margin-bottom: 2rem;
            }
            .subtitle {
                margin-bottom: 3rem;
            }
        }
    }
}
