.screen {
    position: relative;
    font-size: 2rem;
    padding: 0 5%;
    margin: 1rem 0;
    z-index: 1;
    overflow: hidden;
    height: 0;
    @include flex();
    transition: 0.3s ease;
    &[data-show="true"] {
        height: 50vh;
    }
    .close-btn {
        position: absolute;
        top: 2rem;
        right: 3rem;
        z-index: $float-layer;
        @include size(2em);
        cursor: pointer;
        background: $main-color;
        @include flex();
        .icon {
            width: 50%;
        }
    }
    .overlay {
        background-image: linear-gradient(90deg, #000000 0%, rgba(255, 255, 255, 0) 100%);
    }
    &__text {
        width: 100%;
        .title {
            font-size: 2em;
            font-weight: bold;
            margin-bottom: 0.5em;
            position: relative;
        }
        .episode {
            position: absolute;
            top: 0;
            left: 0;
            width: max-content;
            font-size: 0.8em;
            background: $main-color;
            padding: 0.5em 1em;
            z-index: $float-layer;
        }
        .description {
            line-height: 1.5;
            font-size: 1em;
            width: 60%;
            height: 12rem;
            overflow: hidden;
            white-space: pre-line;
            margin-bottom: 2em;
        }
        .btn {
            background: $white-color;
            color: #000;
            max-width: 20rem;
            padding: 1rem 2rem;
            &:hover {
                background: $main-color;
                color: $white-color;
            }
        }
    }
}
@include responsive($break-point-sm) {
    .screen {
        font-size: 1.8rem;
        &[data-show="true"] {
            height: 40vh;
        }
        .close-btn {
            top: 3rem;
            @include size(2.5em);
        }
        &__text {
            .title {
                font-size: 1.8em;
                margin-bottom: 1rem;
            }
            .description {
                height: 13rem;
            }
        }
    }
}
@include responsive($break-point-xs) {
    .screen {
        font-size: 1.5rem;
        .close-btn {
            top: 1rem;
            right: 1rem;
        }
        &__text {
            .title {
                font-size: 1.5em;
                margin-bottom: 1rem;
            }
            .description {
                width: 100%;
                height: 9rem;
                font-size: 1em;
            }
        }
    }
}
