.screen {
    position: relative;
    font-size: 2rem;
    padding: 0 5%;
    margin: 1rem 0;
    z-index: 1;
    overflow: hidden;
    height: 0;
    @include flex();
    transition: 0.3s ease;
    &[data-show="true"] {
        height: 50vh;
    }
    .close-btn {
        position: absolute;
        top: 2rem;
        right: 3rem;
        @include size(2em);
        cursor: pointer;
        background: $main-color;
        @include flex();
        .icon {
            width: 50%;
        }
    }
    .overlay {
        background-image: linear-gradient(90deg, #000000 0%, rgba(255, 255, 255, 0) 100%);
    }
    &__text {
        .title {
            font-size: 2em;
            font-weight: bold;
            margin-bottom: 0.5em;
        }
        .description {
            line-height: 1.5;
            font-size: 1em;
            width: 60%;
            height: 12rem;
            overflow: hidden;
            white-space: pre-line;
            margin-bottom: 2em;
        }
        .btn {
            cursor: pointer;
            background: $white-color;
            text-align: center;
            color: #000;
            max-width: 20rem;
            padding: 1rem 2rem;
            &:hover {
                background: $main-color;
                color: $white-color;
            }
        }
    }
}
