$left-padding: 2rem;

.subscribe-form {
    font-size: 1.8rem;
    &__head {
        margin-bottom: 2rem;
    }
    &__body {
        display: flex;
        position: relative;
        p.error-mes {
            position: absolute;
            font-weight: bold;
            top: 110%;
            left: 0;
            color: #ff4800;
        }
        .cta-btn {
            all: unset;
            cursor: pointer;
            width: max-content;
            padding: 2rem 3rem;
            font-size: 1.2em;
            display: flex;
            background: $main-color;
            .icon {
                margin-left: 1.2rem;
                width: 1em;
                transform: rotate(90deg);
            }
        }
    }
}

@include responsive($break-point-sm) {
    .subscribe-form {
        font-size: 2.2rem;
        &__body {
            flex-direction: column;
            .input {
                input {
                    padding: $left-padding;
                }
            }
            .cta-btn {
                margin: 2rem auto;
            }
        }
    }
}
@include responsive($break-point-xs) {
    .subscribe-form {
        font-size: 2rem;
    }
}
